.country-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem 0 0 0;


  &__counters {
    display: flex;
    flex-flow: row wrap;
    margin: 2rem 0 0 0;
  }
}

.country-details-chart-container {
  margin: 2rem 0 0 0;
}
