<main>
  <app-loader *ngIf="loading" />
  <section *ngIf="!loading" class="country-details">
    <app-page-title content="{{ countryName }}" />
    <div
      [ngClass]="
        !['desktop', null].includes(responsiveDevices)
          ? 'country-details__counters__' + responsiveDevices
          : ''
      "
      class="country-details__counters">
      <app-counter count="{{ countryEntries }}" label="Number of entries" />
      <app-counter count="{{ countryMedals }}" label="Total number medals" />
      <app-counter
        count="{{ countryAtheletes }}"
        label="Total number of athletes" />
    </div>
  </section>
  <section class="country-details-chart-container">
    <app-line-chart
      *ngIf="countryParticipation"
      [datas]="countryParticipation" />
  </section>
</main>
