.countries-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3rem 0 0 0;


  &__counters {
    display: flex;
    flex-flow: row wrap;
    margin: 3rem 0 0 0;
  }
}
